// basic information about the workflow
manifest {
  name = 'quick-rnaseq-nf'
  description = 'A basic and quick workflow for differential expression analysis'
  version = '0.0.0'
  homePage = 'https://github.com/stracquadaniolab/quick-rnaseq-nf.git'
  author = 'Giovanni Stracquadanio'
  nextflowVersion = '>=20.07.1'
}

// your workflow parameters
params {

  // input/output information 
  transcriptome = "./testdata/gencode."
  sampleSheet = "./testdata/samplesheet.csv"
  resultsDir = "./results/test"

  // software parameters
  salmon.index.args = '--gencode'
  salmon.quant.args = '-l A --validateMappings'

  summarize_to_gene.counts_from_abundance = 'no'
}

// include basic process configuration options
includeConfig 'conf/base.config' 

// specify the container to be used
process.container = "ghcr.io/stracquadaniolab/quick-rnaseq-nf:v0.0.0"