// basic information about the workflow
manifest {
  name = 'quick-rnaseq-nf'
  description = 'A basic and quick workflow for differential expression analysis'
  version = '0.0.0'
  homePage = 'https://github.com/stracquadaniolab/quick-rnaseq-nf.git'
  author = 'Giovanni Stracquadanio'
  nextflowVersion = '>=20.07.1'
}

// your workflow parameters
params {
  resultsdir = "./results/test"

  // input/output information 
  transcriptome.reference = "./testdata/gencode."
  transcriptome.decoys = ""
  
  // design information
  experiment.samplesheet = "./testdata/samplesheet.csv"
  experiment.contrasts = [['case', 'control'],['control','case']]

  // salmon parameters
  salmon.index.args = '--gencode'
  salmon.quant.args = '-l A --validateMappings --gcBias'

  // summarize_to_gene parameters
  summarize_to_gene.counts_from_abundance = 'no'
  summarize_to_gene.organism_db = 'org.Hs.eg.db'

}

// include basic process configuration options
includeConfig 'conf/base.config' 

// specify the container to be used
process.container = "ghcr.io/stracquadaniolab/quick-rnaseq-nf:v0.0.0"