// basic information about the workflow
manifest {
  name = 'quick-rnaseq-nf'
  description = 'A basic and quick workflow for differential expression analysis'
  version = '0.0.0'
  homePage = 'https://github.com/stracquadaniolab/quick-rnaseq-nf.git'
  author = 'Giovanni Stracquadanio'
  nextflowVersion = '>=20.07.1'
}

// your workflow parameters
params {
  resultsdir = "./results/test"

  // experiment information
  experiment.samplesheet = "./testdata/samplesheet.csv"
  experiment.contrasts = [['case', 'control'],['control','case']]

  // transcriptome information 
  transcriptome.reference = ""
  transcriptome.decoys = ""

  // reads trimming
  fastp.args = ""
    
  // salmon parameters
  salmon.index.args = '--gencode'
  salmon.quant.libtype = 'A'
  salmon.quant.args = '--validateMappings'

  // summarize_to_gene parameters
  summarize_to_gene.counts_from_abundance = 'no'
  summarize_to_gene.organism_db = 'org.Hs.eg.db'

  // counts transform can be rlog or vst
  qc.pca.transform = 'rlog'
  qc.sample.transform = 'rlog'

  // gene ontology analysis parameters
  gene_ontology.organism_db = 'org.Hs.eg.db'
  gene_ontology.gene_id = 'ensembl'

}

// include basic process configuration options
includeConfig 'conf/base.config' 

// specify the container to be used
process.container = "ghcr.io/stracquadaniolab/quick-rnaseq-nf:v0.2.0"