// profile to test the workflow
params {
  resultsdir = "./results/test"

  // input/output information 
  transcriptome.reference = "./testdata/gencode.v38.transcripts.fa.gz"
  transcriptome.decoys = "./testdata/gencode.v38.decoys.fa.gz"
  
  // design information
  experiment.samplesheet = "./testdata/polyester/samplesheet.csv"
  experiment.contrasts = [['case', 'control'],['control','case']]
}


