executor {
	name = 'local'
	cpus   = 32
	memory = 48.GB
}
	
process {	
	cpus = 1
	memory = 1.GB

	withName: TRIM_READS {
		cpus = 4
		memory = 4.GB
	}

	withName: SALMON_INDEX {
		cpus = 12
		memory = 32.GB
	}

	withName: SALMON_QUANT {
		cpus = 12
		memory = 16.GB
	}
	
	withName: SUMMARIZE_TO_GENE {
		cpus = 1
		memory = 8.GB
	}

	withName: QC_PCA {
		cpus = 1
		memory = 2.GB
	}

	withName: QC_MAPLOT {
		cpus = 1
		memory = 2.GB
	}

	withName: ANALYSIS_DGE {
		cpus = 1
		memory = 4.GB
	}

	withName: ANALYSIS_GO {
		cpus = 1
		memory = 4.GB
	}
}